<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</head>
<body>
	<div id="loginForm">
		<table>
			<tr><td>Username</td><td><input type="text" name="userName" v-model="userName"></td></tr>
			<tr><td>Password</td><td><input type="password" name="password" v-model="password"></td></tr>
			<tr><td><button v-on:click="loginUser">Posalji</button></td></tr>
		</table>
		<p id="error" hidden="true"></p>
		<p id="success" hidden="true"></p>
	</div>
		
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="login.js"></script>
		
</body>
</html>