<!DOCTYPE html>
<html>

<head>
	<title>Sports facility</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="styles.css">

</head>

<body>
	<div id ="sportFacility">

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Name</th>
					<th>Type</th>
					<th>Status</th>
                    <th>Location</th>
                    <th>Average</th>
                    <th>Start</th>
                    <th>End</th>
				</tr>
			</thead>

			<tr v-for="sp in sportObjects">
				<td>{{sp.id }}</td>
                <td>{{sp.name }}</td>
                <td>{{sp.type }}</td>
                <td>{{sp.status }}</td>
                <td>{{sp.location.street}}  {{sp.location.number}}  {{sp.location.city}}</td>
                <td>{{sp.average }}</td>
                <td>{{sp.startTime.hour}}:{{sp.startTime.minute}}</td>
                <td>{{sp.endTime.hour }}:{{sp.startTime.minute}}</td>
			</tr>
		</table>
		
		Pretraga : <input type="text" name="searchValue" v-model="searchValue"> 
		<select name="searchTypes" v-model="searchType">
			<option value="name"> Name </option>
			
			<option value="type"> Type </option>
			<option value="location"> Location </option>
			<option value="average"> Average </option>
		</select>
		<p><button  v-on:click="searchFacilitys()"> Search </button></p>
		

		
	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/sportsFacility.js"></script>
</body>

</html>

