<!DOCTYPE html>
<html>

<head>
<title>Sports facility</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="styles.css">
<script src="jquery-3.3.1.min.js"></script>


<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}

tr:hover {
	background-color: coral;
}

th {
	background-color: #04AA6D;
	color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
</style>
</head>

<body>

	<div>
		<ul>
			<li><a href="http://localhost:8080/WebShopREST/sportsFacility.html">Sports Facility</a></li>
			<li><a href="http://localhost:8080/WebShopREST/profile.html">Profile</a></li>
			<li><a href="http://localhost:8080/WebShopREST/regKorisnici.html">Register users</a></li>
			<li><a href="http://localhost:8080/WebShopREST/dues.html">Dues</a></li>
			<li><a href="http://localhost:8080/WebShopREST/content.html">Content</a></li>
			<li><a href="http://localhost:8080/WebShopREST/managerFacility.html">Manager facility</a></li>
			<li><a href="http://localhost:8080/WebShopREST/createFacility.html">Create facility</a></li>
		</ul>
	</div>

	<div id="sportFacility">

		<table border="1" id="tabela">
			<thead>
				<tr bgcolor="lightgrey">
					<th>ID</th>
					<th>Picture</th>
					<th>Name</th>
					<th>Type</th>
					<th>Status</th>
					<th>Location</th>
					<th>Average</th>
					<th>Start</th>
					<th>End</th>
				</tr>
			</thead>

			<tr v-for="sp in sportObjects" v-on:click="Selected(sp)">
				<td>{{sp.id }}</td>
				<td> <img width="90" height="90" v-bind:src="'Images/' + sp.image" alt="No picture found"></td>
				<td>{{sp.name }}</td>
				<td>{{sp.type }}</td>
				<td>{{sp.status }}</td>
				<td>{{sp.location.street}} {{sp.location.number}}
					{{sp.location.city}}</td>
				<td>{{sp.average }}</td>
				<td>{{sp.startTime}}</td>
				<td>{{sp.endTime}}</td>
			</tr>
		</table>

		Pretraga : <input type="text" name="searchValue" v-model="searchValue">
		<select name="searchTypes" v-model="searchType">
			<option value="name">Name</option>

			<option value="type">Type</option>
			<option value="location">Location</option>
			<option value="average">Average</option>
		</select>
		<p>
			<button v-on:click="searchFacilitys()">Search</button>
		</p>
		
		



	</div>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/sportsFacility.js"></script>
</body>

</html>

