<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sport Facility</title>
<link rel="stylesheet" type="text/css" href="styles.css">

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color: coral;}

th {
  background-color: #04AA6D;
  color: white;
}
</style>

</head>
<body>
<div class="container" id="viewSF">
		<div class="title">Sport Facility</div>
		<form>
			<div class="user-details">


				<div class="input-box">
					<span class="details"></span>

				</div>

				<div class="input-box">

					<span class="details">Name</span> <input type="text" name="name"
						v-model="sf.name"
						pattern="[A-Za-z]{1,32}" disabled>
				</div>

				<div class="input-box">
					<span class="details">Type</span> <input type="text"
						name="surname" 
						v-model="sf.type" pattern="[A-Za-z]{1,32}" disabled>
				</div>

				<div class="input-box">
					<span class="details">Working status</span> <input type="text"
						name="birthday"
						v-model="sf.status" disabled>
				</div>


				<div class="input-box">
					<span class="details">Street</span> <input type="text"
						v-model="sf.location.street" width="15" disabled>

				</div>
				<div class="input-box">
					<span class="details">Number</span> <input type="text"
						v-model="sf.location.number" width="15" disabled>

				</div>
				<div class="input-box">
					<span class="details">City</span> <input type="text"
						v-model="sf.location.city" width="15" disabled>

				</div>

				<div class="input-box">
					<span class="details">Average grade</span> <input type="text"
						name="grade" 
						v-model="sf.average" disabled>
				</div>

				
			</div>
		</form>
		
		<table  id="tabela">
				<thead>
					<tr bgcolor="lightgrey">
						<th>Slika</th>
						<th>Opis</th>
						<th>Naziv trenera</th>
						<th>Doplata</th>
						<th>Prijava</th>
					</tr>
				</thead>

				<tr v-for="t in trainings">
					<td>{{t.image }}</td>
					<td>{{t.description }}</td>
					<td>{{t.trainerName}}</td>
					<td>0</td>
					<td v-bind:hidden="loggedUser.Role !== 'CUSTOMER'"><button type="button"  v-on:click="prijavaNaTrening(t)">Book</button></td>
					<td v-bind:hidden="loggedUser.Role !== 'MANAGER'" ><button type="button" v-on:click="updateTraining(t)">Update</button></td>
				</tr>
			
			</table>

	</div>


	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script src="app/viewSportFacility.js"></script>
</body>
</html>